<div class="container">
    <div class="row">
  
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  
          <div class="container">
            <div *ngIf='!data' class="loader"></div>
  
            <div ngbDropdown class="text-right py-3">
              <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>sort by</button>
              <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                <button ngbDropdownItem routerLink="/cards/views">views</button>
                <button ngbDropdownItem routerLink="/cards/likes">likes</button>
                <button ngbDropdownItem routerLink="/cards/recent">recent</button>
              </div>
            </div>
  
  
            <div class="row">
              <div class="col-lg-3 col-md-4 col-6" *ngFor='let card of data'>
                <div class="card px-2 py-2" routerLink="/card/{{card.card_id}}">
                  <img src="./../../assets/images/diy-mothers-day-cards-1584479679.jpg" class="card-img-top" alt="...">
                  <div>
                    <div class="d-flex">
                      <div class="small-img">
                        <img src="./../../assets/images/Balloon_Bouquet_Purple_Cover_x400.jpg" alt="">
                      </div>
                      <div class="card_data d-flex flex-column justify-content-center text-left">
                        <p class="mb-0">{{card.user.first_name}} {{card.user.last_name}}</p>
                        <div class="d-flex">
                          <span><i class="far fa-eye"></i> {{card.view}} </span>
                          <span><i class="far fa-comment"></i> {{card.likes}} </span>
                          <span><i class="far fa-heart"></i> {{card.comments}} </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  